@using almondCove.Models.Props;

@{
    HTMLProps props = new()
            {
                DataBsTheme = "",
                HeaderClass = "navbar navbar-expand-lg fixed-top bg-light",
                IsLoaderActive = "",
                BodyClass="bg-secondary"
            };

    MetaProps meta = new()
            {
                Title = "Home",
            };


    ViewData["HtmlProps"] = props;
    ViewData["MetaProps"] = meta;
}

@section Styles{
        <link rel="stylesheet" media="screen" href="/assets/vendor/prismjs/themes/prism.min.css">
    <link rel="stylesheet" media="screen" href="/assets/vendor/prismjs/plugins/toolbar/prism-toolbar.min.css">
    <link rel="stylesheet" media="screen" href="/assets/vendor/prismjs/plugins/line-numbers/prism-line-numbers.min.css">
    <link href="~/assets/vendor/prismjs/plugins/toolbar/prism-toolbar.min.css" rel="stylesheet" />


    <link href="~/assets/vendor/aos/dist/aos.css"/>
}
@section Scripts{
    <script src="~/assets/vendor/aos/dist/aos.js"></script>
    <script src="/assets/vendor/prismjs/components/prism-core.min.js"></script>
    <script src="/assets/vendor/prismjs/components/prism-markup.min.js"></script>
    <script src="/assets/vendor/prismjs/components/prism-clike.min.js"></script>
    <script src="/assets/vendor/prismjs/plugins/toolbar/prism-toolbar.min.js"></script>
    <script src="/assets/vendor/prismjs/plugins/copy-to-clipboard/prism-copy-to-clipboard.min.js"></script>
    <script src="/assets/vendor/prismjs/plugins/line-numbers/prism-line-numbers.min.js"></script>
    <script src="~/assets/vendor/prismjs/components/prism-csharp.min.js"></script>
   
}
<style>
    /* Define the initial state of the element */
/* Define the keyframes for the fade-in animation */
@@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
img{

border-radius: 10px;
}

/* Apply the animation to elements with the class 'fd-in' */
pre {
  animation: fadeIn 1s ease-in-out; /* You can adjust the duration and timing function as needed */
}

/* Optionally, you can add a class to delay the animation */
pre.delayed {
  animation-delay: 0.5s; /* You can adjust the delay as needed */
}

</style>   

<div class="bg-dark" style="border-bottom-left-radius: 20px;border-bottom-right-radius: 20px;">
    <section class="container py-5 mt-5 mb-md-2 mb-lg-3 mb-xl-4 bg-dark btn-rad-1">

        <!-- Breadcrumb -->
        <nav aria-label="breadcrumb">
          <ol class="pt-lg-3 pb-lg-4 pb-2 breadcrumb">
            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
            <li class="breadcrumb-item"><a href="blog-grid-sidebar.html">Blog</a></li>
            <li class="breadcrumb-item active" aria-current="page">Single post v.1</li>
          </ol>
        </nav>

        <div class="row">

          <!-- Post title + post meta -->
          <div class="col-lg-12 pb-2 pb-lg-0 mb-4 mb-lg-0">
            <h1 class="display-4 pb-2 pb-lg-3">Dynamic HTML Properties Rendering Tutorial</h1>
            <div class="d-flex flex-wrap align-items-center mt-n2">
              <span class="text-body-secondary fs-sm fw-normal p-0 mt-2 me-3">
                12
                <i class="ai-share fs-lg ms-1"></i>
              </span>
              <a class="nav-link position-relative text-body-secondary fs-sm fw-normal d-flex align-items-end p-0 mt-2" href="#comments" data-scroll data-scroll-offset="60">
                <span class="position-absolute w-100 h-100 top-0 start-0" data-bs-toggle="collapse" data-bs-target="#commentsCollapse"></span>
                4
                <i class="ai-message fs-lg ms-1"></i>
              </a>
              <span class="fs-xs opacity-20 mt-2 mx-3">|</span>
              <span class="fs-sm text-body-secondary mt-2">16 hours ago</span>
              <span class="fs-xs opacity-20 mt-2 mx-3">|</span>
              <a class="badge text-nav fs-xs border mt-2" href="#">Inspiration</a>
            </div>
          </div>

        </div>
      </section>

      </div>



      <!-- Post content -->
      <section class="container ">
        <div class="row pt-xxl-2">
          <div class="col-lg-7 col-xl-7 pe-lg-4 pe-xl-0 pt-5 pb-5" >
             @Html.Raw(ViewData["HtmlContent"])
          </div>


          <!-- Sidebar -->
          <aside class="col-lg-3 offset-lg-1 pt-4 pt-lg-4 pb-5" style="margin-top: 3rem;">
            <div class="position-sticky top-0 mt-2 mt-md-3 mt-lg-0" style="padding-top: 7rem;">

              <!-- Sharing -->
              <h4 class="mb-4">Share this post:</h4>
              <div class="d-flex mt-n3 ms-n3 mb-lg-5 mb-4 pb-3 pb-lg-0">
                <a class="btn btn-outline-secondary btn-icon btn-sm btn-instagram rounded-circle mt-3 ms-3" href="#" aria-label="Instagram">
                  <i class="ai-instagram"></i>
                </a>
                <a class="btn btn-outline-secondary btn-icon btn-sm btn-facebook rounded-circle mt-3 ms-3" href="#" aria-label="Facebook">
                  <i class="ai-facebook"></i>
                </a>
                <a class="btn btn-outline-secondary btn-icon btn-sm btn-telegram rounded-circle mt-3 ms-3" href="#" aria-label="Telegram">
                  <i class="ai-telegram"></i>
                </a>
                <a class="btn btn-outline-secondary btn-icon btn-sm btn-x rounded-circle mt-3 ms-3" href="#" aria-label="X">
                  <i class="ai-x"></i>
                </a>
              </div>

              <!-- Relevant topics -->
              <h4 class="pt-xl-1 mb-4">Relevant topics:</h4>
              <div class="d-flex flex-wrap mt-n3 ms-n3 mb-lg-5 mb-4 pb-3 pb-lg-0">
                <a class="btn btn-outline-secondary rounded-pill mt-3 ms-3" href="#">Nature</a>
                <a class="btn btn-outline-secondary rounded-pill mt-3 ms-3" href="#">Inspiration</a>
                <a class="btn btn-outline-secondary rounded-pill mt-3 ms-3" href="#">Travel</a>
                <a class="btn btn-outline-secondary rounded-pill mt-3 ms-3" href="#">Psychology</a>
              </div>
            </div>
          </aside>
        </div>
      </section>
          
    