@using almondcove.Models.DTO.Media.Gallery
@using almondcove.Models.Props
@model List<AlbumItemsDTO>;
@{
    HTMLProps props = new()
        {
             DataBsTheme = "",
             HeaderClass = "navbar navbar-expand-lg fixed-top bg-light"
        };

    MetaProps meta = new()
            {
                Title = "Home",
            };

    ViewData["HtmlProps"] = props;
    ViewData["MetaProps"] = meta;

}

@section Styles{
     <link rel="stylesheet" media="screen" href="/assets/vendor/swiper/swiper-bundle.min.css">
}
@section Scripts
{
     <script src="/assets/vendor/swiper/swiper-bundle.min.js"></script>
}

<section class="container pt-5 pb-4 pb-lg-0 my-md-2 my-lg-5">
    <h2>Album Viewer</h2>

    <table>
        <thead>
            <tr>
                <th>Album ID</th>
                <th>Name</th>
                <th>Description</th>
                <th>Category</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var album in Model)
            {
                <tr>
                    <td>@album.Id</td>
                    <td>@album.Title</td>
                    <td>@album.Desc</td>
                    <td>@album.Slug</td>
                </tr>
            }
        </tbody>
    </table>
</section>