@using almondCove.Models.Props;
@{
	Layout = "_LayoutEmpty";

	HTMLProps props = new()
			{
				DataBsTheme = "",
				HeaderClass = "navbar navbar-expand-lg fixed-top bg-light"
			};

	MetaProps meta = new()
			{
				Title = "Home",
			};

	ViewData["HtmlProps"] = props;
	ViewData["MetaProps"] = meta;

}
@section Styles {
	<style>
	</style>
}

@section Scripts {
	<script type="module" src="/assets/js/dedicated/account/recovery.js"></script>
}

<div class="modal fade" id="otpMdl" tabindex="-1" role="dialog">
	<div class="modal-dialog modal-dialog-scrollable" role="document">
		<div class="modal-content">
			<form id="otp-form">
				<div class="modal-header">
					<h4 class="modal-title">OTP</h4>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<p>Please enter the otp sent to your email id</p>
					<input class="form-control" id="otpVal" value="" placeholder="otp here" required />
				</div>
				<div class="modal-footer flex-column flex-sm-row">
					<button type="submit" id="submitOtp" class="btn btn-primary w-100 w-sm-auto ms-sm-3">Verify</button>
				</div>
			</form>
		</div>
	</div>
</div>
@Html.AntiForgeryToken()
<div class="d-flex flex-column align-items-center position-relative h-100 px-3 pt-5">

	<!-- Home button -->
	<a class="text-nav btn btn-icon bg-light border rounded-circle position-absolute top-0 end-0 z-2 p-0 mt-3 me-3 mt-sm-4 me-sm-4"
		href="/" data-bs-toggle="tooltip" data-bs-placement="left" title="Back to home" aria-label="Back to home">
		<i class="ai-home"></i>
	</a>

	<!-- Content -->
	<div class="mt-auto" style="max-width: 700px;">
		<h1 class="pt-3 pb-2 pb-lg-3">Forgot your password?</h1>
		<p class="pb-2">Change your password in three easy steps. This helps to keep your new password secure.</p>
		<ul class="list-unstyled pb-2 pb-lg-0 mb-4 mb-lg-5">
			<li class="d-flex mb-2">
				<span class="text-primary fw-semibold me-2">1.</span>
				Fill in your email address below.
			</li>
			<li class="d-flex mb-2">
				<span class="text-primary fw-semibold me-2">2.</span>
				We'll email you a temporary code.
			</li>
			<li class="d-flex mb-2">
				<span class="text-primary fw-semibold me-2">3.</span>
				Use the code to change your password on our secure website.
			</li>
		</ul>
		<div class="card border-0 bg-primary" data-bs-theme="dark">
			<form class="card-body" id="recovery-form">
				<div class="mb-4">
					<div class="position-relative">
						<i
							class="ai-mail fs-lg position-absolute top-50 start-0 translate-middle-y text-light opacity-80 ms-3"></i>
						<input class="form-control form-control-lg ps-5" id="userName" type="text"
							placeholder="Enter username" required>
					</div>
				</div>
				<button class="btn btn-light" id="recSubmitBtn" type="submit">Recover</button>
			</form>
		</div>
	</div>

	<!-- Copyright -->
	<p class="nav w-100 fs-sm pt-5 mt-auto mb-5" style="max-width: 700px;"><span class="text-body-secondary">&copy;Made
			with love. </span><a class="nav-link d-inline-block p-0 ms-1" href="https://almondcove.in/" target="_blank"
			rel="noopener">AlmondCove</a></p>
</div>