        <aside class="col-lg-3 pe-lg-4 pe-xl-5 mt-n3">
            <div class="position-lg-sticky top-0">
              <div class="d-none d-lg-block" style="padding-top: 105px;"></div>
              <div class="offcanvas-lg offcanvas-start" id="sidebarAccount">
                <button class="btn-close position-absolute top-0 end-0 mt-3 me-3 d-lg-none" type="button" data-bs-dismiss="offcanvas" data-bs-target="#sidebarAccount" aria-label="Close"></button>
                <div class="offcanvas-body">
                  <div class="pb-2 pb-lg-0 mb-4 mb-lg-5">
                    <img class="d-block rounded-circle mb-2" src="assets/img/avatar/02.jpg" width="80" alt="Isabella Bocouse">
                    <h3 class="h5 mb-1">Isabella Bocouse</h3>
                    <p class="fs-sm text-body-secondary mb-0">bocouse@example.com</p>
                  </div>
                  <nav class="nav flex-column pb-2 pb-lg-4 mb-3">
                    <h4 class="fs-xs fw-medium text-body-secondary text-uppercase pb-1 mb-2">Account</h4>
                    <a class="nav-link fw-semibold py-2 px-0 active" href="account-overview.html">
                      <i class="ai-user-check fs-5 opacity-60 me-2"></i>
                      Overview
                    </a>
                    <a class="nav-link fw-semibold py-2 px-0" href="account-settings.html">
                      <i class="ai-settings fs-5 opacity-60 me-2"></i>
                      Settings
                    </a>
                    <a class="nav-link fw-semibold py-2 px-0" href="account-billing.html">
                      <i class="ai-wallet fs-5 opacity-60 me-2"></i>
                      Billing
                    </a>
                  </nav>
                  <nav class="nav flex-column pb-2 pb-lg-4 mb-1">
                    <h4 class="fs-xs fw-medium text-body-secondary text-uppercase pb-1 mb-2">Dashboard</h4>
                    <a class="nav-link fw-semibold py-2 px-0" href="account-orders.html">
                      <i class="ai-cart fs-5 opacity-60 me-2"></i>
                      Orders
                    </a>
                    <a class="nav-link fw-semibold py-2 px-0" href="account-earnings.html">
                      <i class="ai-activity fs-5 opacity-60 me-2"></i>
                      Earnings
                    </a>
                    <a class="nav-link fw-semibold py-2 px-0" href="account-chat.html">
                      <i class="ai-messages fs-5 opacity-60 me-2"></i>
                      Chat
                      <span class="badge bg-danger ms-auto">4</span>
                    </a>
                    <a class="nav-link fw-semibold py-2 px-0" href="account-favorites.html">
                      <i class="ai-heart fs-5 opacity-60 me-2"></i>
                      Favorites
                    </a>
                  </nav>
                  <nav class="nav flex-column">
                    <a class="nav-link fw-semibold py-2 px-0" href="account-signin.html">
                      <i class="ai-logout fs-5 opacity-60 me-2"></i>
                      Sign out
                    </a>
                  </nav>
                </div>
              </div>
            </div>
        </aside>
