  @using almondcove.Models.Props;
  
@{
    HTMLProps props = new()
        {
             DataBsTheme = "",
             HeaderClass = "navbar navbar-expand-lg fixed-top",
             BodyClass = "bg-secondary"
        };

    MetaProps meta = new()
            {
                Title = "Home",
            };

    ViewData["HtmlProps"] = props;
    ViewData["MetaProps"] = meta;
}


@section Scripts{
    <script src="~/assets/js/dedicated/profile/dashboard.js" type="module"></script>
}

@Html.AntiForgeryToken()
 <!-- Page container -->
      <div class="container py-5 mt-4 mt-lg-5 mb-lg-4 my-xl-5">
        <div class="row pt-sm-2 pt-lg-0">



            

          <!-- Page content -->
          <div class="col-lg-12 pt-4 pb-2 pb-sm-4">
            <h1 class="h2 mb-4">Overview</h1>

            <!-- Basic info -->
            <section class="card border-0 py-1 p-md-2 p-xl-3 p-xxl-4 mb-4">
              <div class="card-body">
                <div class="d-flex align-items-center mt-sm-n1 pb-4 mb-0 mb-lg-1 mb-xl-3">
                  <i class="ai-user text-primary lead pe-1 me-2"></i>
                  <h2 class="h4 mb-0">Basic info</h2>
                  <a class="btn btn-sm btn-secondary ms-auto" href="/profile/edit">
                    <i class="ai-edit ms-n1 me-2"></i>
                    Edit info
                  </a>
                </div>
                <div class="d-md-flex align-items-center">
                  <div class="d-sm-flex align-items-center">
                    <div id="avatarPlaceHolder" class="rounded-circle bg-size-cover bg-position-center flex-shrink-0" style="width: 80px; height: 80px; background-image: url(assets/img/avatar/02.jpg);"></div>
                    <div class="pt-3 pt-sm-0 ps-sm-3">
                      <h3 class="h5 mb-2"><span id="fullName"></span></h3>
                      <div class="text-body-secondary fw-medium d-flex flex-wrap flex-sm-nowrap align-iteems-center">
                        <div class="d-flex align-items-center me-3">
                          <span id="userName"></span>
                        </div>
                        <div class="d-flex align-items-center text-nowrap">
                          <i class="ai-person me-1"></i>
                          @Context.Session.GetString("role")
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="w-100 pt-3 pt-md-0 ms-md-auto" style="max-width: 212px;">
                    <div class="d-flex justify-content-between fs-sm pb-1 mb-2">
                      Profile completion
                      <strong class="ms-2">62%</strong>
                    </div>
                    <div class="progress" style="height: 5px;">
                      <div class="progress-bar" role="progressbar" style="width: 62%" aria-valuenow="62" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                  </div>
                </div>
                <div class="row py-4 mb-2 mb-sm-3">
                  <div class="col-md-6 mb-4 mb-md-0">
                    <table class="table mb-0">
                      <tbody>
                        <tr>
                          <td class="border-0 text-body-secondary py-1 px-0">Email</td>
                          <td class="border-0 text-dark fw-medium py-1 ps-3"> <span id="emailId"></span></td>
                        </tr>
                        <tr>
                          <td class="border-0 text-body-secondary py-1 px-0">Language</td>
                          <td class="border-0 text-dark fw-medium py-1 ps-3">English</td>
                        </tr>
                        <tr>
                          <td class="border-0 text-body-secondary py-1 px-0">Gender</td>
                          <td class="border-0 text-dark fw-medium py-1 ps-3"><span id="gender"></span></td>
                        </tr>
                        <tr>
                          <td class="border-0 text-body-secondary py-1 px-0">Bio</td>
                          <td class="border-0 text-dark fw-medium py-1 ps-3"><span id="bio"></span></td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <div class="col-md-6 d-md-flex justify-content-end">
                    <div class="w-100 border rounded-3 p-4" style="max-width: 212px;">
                      <img class="d-block mb-2" src="assets/img/account/gift-icon.svg" width="24" alt="Gift icon">
                      <p class="fs-sm text-body-secondary mb-0">Date Joined:</p>
                      <h4 class="h5 lh-base mb-0"><span id="dateJoined"></span></h4>
                      
                    </div>
                  </div>
                </div>
                <div class="alert alert-info d-flex mb-0" role="alert">
                  <i class="ai-circle-info fs-xl"></i>
                  <div class="ps-2">Fill in the information 100% to receive more suitable offers.<a class="alert-link ms-1" href="account-settings.html">Go to settings!</a></div>
                </div>
              </div>
            </section>
            </div>
        </div>
      </div>

      <!-- Divider for dark mode only -->
      <hr class="d-none d-dark-mode-block">
