  @using almondcove.Models.Props;
  
@{
    HTMLProps props = new()
        {
             DataBsTheme = "",
             HeaderClass = "navbar navbar-expand-lg fixed-top",
             BodyClass = "bg-secondary"
        };

    MetaProps meta = new()
            {
                Title = "Home",
            };

    ViewData["HtmlProps"] = props;
    ViewData["MetaProps"] = meta;
}

@section Scripts{
    <script src="~/assets/js/dedicated/profile/edit-profile.js" type="module"></script>
}
 <!-- Basic info -->
 @Html.AntiForgeryToken()
       <div class="container py-5 mt-4 mt-lg-5 mb-lg-4 my-xl-5">
        <div class="row pt-sm-2 pt-lg-0">
          <!-- Page content -->
          <div class="col-lg-12 pt-4 pb-2 pb-sm-4">
            <h1 class="ml-2 h2 mb-4">Overview</h1>

            <section class="card border-0 py-1 p-md-2 p-xl-3 p-xxl-4 mb-4">
            <form id="basicInfoForm">
              <div class="card-body">
                <div class="d-flex align-items-center mt-sm-n1 pb-4 mb-0 mb-lg-1 mb-xl-3">
                  <i class="ai-user text-primary lead pe-1 me-2"></i>
                  <h2 class="h4 mb-0">Basic info</h2>
                </div>
                <div class="d-flex align-items-center">
                  <div class="dropdown">
                    <span id="avatarPlaceHolder" class="d-flex flex-column justify-content-end position-relative overflow-hidden rounded-circle bg-size-cover bg-position-center flex-shrink-0" href="#" data-bs-toggle="dropdown" aria-expanded="false" style="width: 80px; height: 80px; background-image: url(/assets/images/avatars/default/default.png);" aria-label="Upload picture">
                    </span>
                    <div class="dropdown-menu my-1">
                      <a class="dropdown-item fw-normal" href="#">
                        <i class="ai-camera fs-base opacity-70 me-2"></i>
                        Upload new photo
                      </a>
                      <a class="dropdown-item text-danger fw-normal" href="#">
                        <i class="ai-trash fs-base me-2"></i>
                        Delete photo
                      </a>
                    </div>
                  </div>
                  <div class="ps-3">
                    <h3 class="h6 mb-1">Profile picture</h3>
                    <p class="fs-sm text-body-secondary mb-0">PNG or JPG no bigger than 1000px wide and tall.</p>
                  </div>

                   
                    <select class="ms-4 ps-4 form-select w-50" id="avatarDdl">
                      <option value="" selected disabled>Select avatar</option>
                    </select>

                </div>
               
                <div class="row g-3 g-sm-4 mt-0 mt-lg-2">
                  <div class="col-sm-6">
                    <label class="form-label" for="fn">First name</label>
                    <input class="form-control" type="text" value="" id="firstName">
                  </div>
                  <div class="col-sm-6">
                    <label class="form-label" for="ln">Last name</label>
                    <input class="form-control" type="text" value="Bocouse" id="lastName">
                  </div>
                   <div class="col-sm-6">
                    <label class="form-label" for="ln">User name</label>
                    <input class="form-control" type="text" value="" id="userName">
                  </div>
                  <div class="col-sm-6">
                    <label class="form-label" for="email">Email address</label>
                    <input class="form-control" type="email" value="" id="emailId">
                  </div>
                  <div class="col-12">
                    <label class="form-label" for="bio">Bio</label>
                    <textarea class="form-control" rows="5" placeholder="Add a bio" id="bio"></textarea>
                  </div>
                  <div class="col-12 d-sm-flex align-items-center pt-sm-2 pt-md-3">
                    <div class="form-label text-body-secondary mb-2 mb-sm-0 me-sm-4">Gender:</div>
                    <div class="form-check form-check-inline mb-0">
                      <input class="form-check-input" type="radio" name="gender" value="Male" id="male">
                      <label class="form-check-label" for="male">Male</label>
                    </div>
                    <div class="form-check form-check-inline mb-0">
                      <input class="form-check-input" type="radio" name="gender" value="Female" checked id="female">
                      <label class="form-check-label" for="female">Female</label>
                    </div>
                    <div class="form-check form-check-inline mb-0">
                      <input class="form-check-input" type="radio" name="gender" value="Other" id="other">
                      <label class="form-check-label" for="other">Other</label>
                    </div>
                  </div>
                  <div class="col-12 d-sm-flex align-items-center">
                    <div class="form-label text-body-secondary mb-2 mb-sm-0 me-sm-4">Communication:</div>
                    <div class="form-check form-check-inline mb-0">
                      <input class="form-check-input" type="checkbox" name="com-email" value="Email" checked id="c-email">
                      <label class="form-check-label" for="c-email">Email</label>
                    </div>
                    <div class="form-check form-check-inline mb-0">
                      <input class="form-check-input" type="checkbox" name="com-phone" value="Phone" id="c-phone">
                      <label class="form-check-label" for="c-phone">Phone</label>
                    </div>
                  </div>
                  <div class="col-12 d-flex justify-content-end pt-3">
                    <button class="btn btn-secondary" type="button">Cancel</button>
                    <button class="btn btn-primary ms-3" type="submit">Save changes</button>
                  </div>
                </div>
              </div>
            </form>  
          </section>

            <section class="card border-0 py-1 p-md-2 p-xl-3 p-xxl-4 mb-4">
                <form id="passForm">
              <div class="card-body">
                <div class="d-flex align-items-center pb-4 mt-sm-n1 mb-0 mb-lg-1 mb-xl-3">
                  <i class="ai-lock-closed text-primary lead pe-1 me-2"></i>
                  <h2 class="h4 mb-0">Password change</h2>
                </div>
                <div class="row align-items-center g-3 g-sm-4 pb-3">
                  <div class="col-sm-6">
                    <label class="form-label" for="new-pass">New password</label>
                    <div class="password-toggle">
                      <input class="form-control" type="password" id="new-pass">
                      <label class="password-toggle-btn" aria-label="Show/hide password">
                        <input class="password-toggle-check" type="checkbox">
                        <span class="password-toggle-indicator"></span>
                      </label>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <label class="form-label" for="confirm-pass">Confirm new password</label>
                    <div class="password-toggle">
                      <input class="form-control" type="password" id="confirm-pass">
                      <label class="password-toggle-btn" aria-label="Show/hide password">
                        <input class="password-toggle-check" type="checkbox"><span class="password-toggle-indicator"></span>
                      </label>
                    </div>
                  </div>
                </div>
                <div class="alert alert-info d-flex my-3 my-sm-4">
                  <i class="ai-circle-info fs-xl me-2"></i>
                  <p class="mb-0">Password must be minimum 8 characters long - the more, the better.</p>
                </div>
                <div class="d-flex justify-content-end pt-3">
                  <button class="btn btn-secondary" type="button">Cancel</button>
                  <button class="btn btn-primary ms-3" type="submit">Save changes</button>
                </div>
              </div>
              </form>
            </section>
            <section class="card border-0 py-1 p-md-2 p-xl-3 p-xxl-4">
              <div class="card-body">
                <div class="d-flex align-items-center pb-4 mt-sm-n1 mb-0 mb-lg-1 mb-xl-3">
                  <i class="ai-trash text-primary lead pe-1 me-2"></i>
                  <h2 class="h4 mb-0">Delete account (ID) </h2>
                </div>
                <div class="alert alert-warning d-flex mb-4">
                  <i class="ai-triangle-alert fs-xl me-2"></i>
                  <p class="mb-0">When you delete your account, your public profile will be deactivated immediately. If you change your mind before the 14 days are up, sign in with your email and password, and we'll send a link to reactivate account. <a href="#" class="alert-link">Learn more</a></p>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" id="confirm">
                  <label class="form-check-label text-dark fw-medium" for="confirm">Log out of all devices</label>
                </div>
                <div class="d-flex flex-column flex-sm-row justify-content-end pt-4 mt-sm-2 mt-md-3">
                  <button class="btn btn-danger" type="button">
                    <i class="ai-trash ms-n1 me-2"></i>
                    Delete account
                  </button>
                </div>
              </div>
            </section>
   </div>
        </div>
      </div>

      <!-- Divider for dark mode only -->
      <hr class="d-none d-dark-mode-block">