@using almondCove.Models.Props;

@{
    HTMLProps props = new()
            {
                DataBsTheme = "",
                HeaderClass = "navbar navbar-expand-lg fixed-top bg-light",
                IsLoaderActive = "",
                BodyClass="bg-secondary"
            };

    MetaProps meta = new()
            {
                Title = "Home",
            };


    ViewData["HtmlProps"] = props;
    ViewData["MetaProps"] = meta;
}

       

@section Scripts{


    <script type="module" src="/assets/js/dedicated/bbbb.js"></script>

}



    <section class="container py-5 mt-5 mb-md-2 mb-lg-3 mb-xl-4 bg-dark btn-rad-1">

        hey there this is a test
    <button id="falana">Change Query</button>


    </section>
<script>
   
</script>