{
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "tsx": false,
      "decorators": true,
      "dynamicImport": true
    },
    "target": "es2015",
    "baseUrl": "./",
    "keepClassNames": false,
    "minify": {
      "compress": {
        "unused": false
      },
      "mangle": false
    }
  },
    "module": {
        "type": "es6"
    },
    "minify": false
}