<footer class="footer py-4">
    <div class="container text-center py-3"><span class="text-body-secondary">&copy; All rights reserved. Made with <span class="text-danger">❤</span> by </span><a class="nav-link d-inline fw-normal p-0" href="https://createx.studio/" target="_blank" rel="noopener">Createx Studio</a></div>
</footer>