 <!-- Footer -->
    <footer class="footer bg-secondary pt-4 pb-2 pb-md-5 pt-sm-5">
      <div class="container-fluid pb-1 pb-md-0 px-md-5">
        <div class="bg-dark rounded-5 position-relative overflow-hidden w-100 py-5 px-3 px-sm-4 px-xl-5 mx-auto" style="max-width: 1660px;" data-bs-theme="dark">
          <div class="position-absolute top-50 start-50 translate-middle" style="width: 1664px;">
            <img src="/assets/img/landing/web-studio/footer-wave.png" alt="Wave">
          </div>
          <div class="container position-relative z-2 pt-md-3 pt-lg-4 pt-xl-5 pb-2">
            <div class="row pb-2">
              <div class="col-lg-4 col-xxl-3 pb-2 pb-lg-0 mb-4 mb-lg-0">
                <div class="navbar-brand text-light py-0 me-0 pb-1 mb-3">
                  <span class="text-primary flex-shrink-0 me-2">
                    <svg version="1.1" width="35" height="32" viewBox="0 0 36 33" xmlns="http://www.w3.org/2000/svg">
                      <path fill="currentColor" d="M35.6,29c-1.1,3.4-5.4,4.4-7.9,1.9c-2.3-2.2-6.1-3.7-9.4-3.7c-3.1,0-7.5,1.8-10,4.1c-2.2,2-5.8,1.5-7.3-1.1c-1-1.8-1.2-4.1,0-6.2l0.6-1.1l0,0c0.6-0.7,4.4-5.2,12.5-5.7c0.5,1.8,2,3.1,3.9,3.1c2.2,0,4.1-1.9,4.1-4.2s-1.8-4.2-4.1-4.2c-2,0-3.6,1.4-4,3.3H7.7c-0.8,0-1.3-0.9-0.9-1.6l5.6-9.8c2.5-4.5,8.8-4.5,11.3,0L35.1,24C36,25.7,36.1,27.5,35.6,29z"></path>
                    </svg>
                  </span>
                  <span class="text-white opacity-90">Around</span>
                </div>
                <p class="text-body fs-sm mb-4">Tellus non diam morbi quam vel venenatis proin sed dolor elementum nunc</p>
                <form class="subscription-form">
                <div class="input-group input-group-sm rounded-pill">
                  <input class="form-control" type="text" placeholder="Email address"id="subscr-email">
                  <button class="btn btn-primary rounded-pill" id="submitMail" type="submit">Subscribe</button>
                </div>
                </form>
              </div>
              <div class="col-sm-4 col-lg-2 offset-lg-1 offset-xl-2 offset-xxl-3 mb-4 mb-sm-0">
                <h6 class="fw-bold">Company</h6>
                <ul class="nav flex-column fs-sm">
                  <li class="nav-item">
                    <a class="nav-link fw-normal px-0 py-1" href="#">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link fw-normal px-0 py-1" href="#">Services</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link fw-normal px-0 py-1" href="#">Projects</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link fw-normal px-0 py-1" href="#">Blog</a>
                  </li>
                </ul>
              </div>
              <div class="col-sm-4 col-lg-2 mb-4 mb-sm-0">
                <h6 class="fw-bold">Support</h6>
                <ul class="nav flex-column fs-sm">
                  <li class="nav-item">
                    <a class="nav-link fw-normal px-0 py-1" href="#">Help center</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link fw-normal px-0 py-1" href="#">Terms of service</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link fw-normal px-0 py-1" href="#">Legal</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link fw-normal px-0 py-1" href="#">Privacy policy</a>
                  </li>
                </ul>
              </div>
              <div class="col-sm-4 col-lg-3 col-xl-2">
                <h6 class="fw-bold">Contact us</h6>
                <ul class="nav flex-column fs-sm">
                  <li class="nav-item">
                    <a class="nav-link fw-normal px-0 py-1" href="mailto:email@example.com">email@example.com</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link fw-normal px-0 py-1" href="tel:+15262200459">+&nbsp;1&nbsp;526&nbsp;220&nbsp;0459</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link fw-normal px-0 py-1" href="tel:+15262200444">+&nbsp;1&nbsp;526&nbsp;220&nbsp;0444</a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="d-sm-flex align-items-center justify-content-between pt-4 pt-md-5 mt-2 mt-md-0 mt-lg-2 mt-xl-4">
              <div class="d-flex justify-content-center order-sm-2 me-md-n2">
                <a class="btn btn-icon btn-sm btn-secondary btn-instagram rounded-circle mx-2" href="#" aria-label="Instagram">
                  <i class="ai-instagram"></i>
                </a>
                <a class="btn btn-icon btn-sm btn-secondary btn-facebook rounded-circle mx-2" href="#" aria-label="Facebook">
                  <i class="ai-facebook"></i>
                </a>
                <a class="btn btn-icon btn-sm btn-secondary btn-linkedin rounded-circle mx-2" href="#" aria-label="LinkedIn">
                  <i class="ai-linkedin"></i>
                </a>
              </div>
              <p class="nav fs-sm order-sm-1 text-center text-sm-start pt-4 pt-sm-0 mb-0 me-4">
                <span class="text-body-secondary">&copy; All rights reserved. Made by</span>
                <a class="nav-link fw-normal p-0 ms-1" href="https://createx.studio/" target="_blank" rel="noopener">Createx Studio</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </footer
