<!-- Panel toggle-->
<a class="position-fixed top-50 bg-light text-dark fw-medium border rounded-pill shadow text-decoration-none"
	href="#customizer" data-bs-toggle="offcanvas"
	style="right: -1.75rem; margin-top: -1rem; padding: .25rem .95rem; transform: rotate(-90deg); font-size: calc(var(--ar-body-font-size) * .8125); letter-spacing: .075rem; z-index: 1030;">
	<i class="ai-settings text-primary fs-base me-1 ms-n1"></i>
	<i class="ai-music text-primary fs-base me-1 ms-n1"></i>
	Panel
</a>
<!-- Panel body -->
<div class="offcanvas offcanvas-end" id="customizer" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1">
	<div class="offcanvas-header border-bottom">
		<h4 class="offcanvas-title">Almondcove 1.9.0</h4>
		<button class="btn-close" id="closePanel" type="button" data-bs-dismiss="offcanvas" aria-label="Close"></button>
	</div>
	<div class="offcanvas-body">

		<div class="d-flex align-items-center mb-3"><i class="ai-align-left text-body-secondary fs-4 me-2"></i>
			<h5 class="mb-0">Updates <span class="text-body-secondary fs-sm fw-normal">(id)</span></h5>
			
		</div>
		<dl class="fs-sm mx-2 text-body-secondary" id="updates-placeholder"></dl>
		<div class="d-flex align-items-center mb-3">
			<i class="ai-paint-roll text-body-secondary fs-4 me-2"></i>
			<h5 class="mb-0">Shortcuts</h5>
		</div>
		
		<button class="btn btn-primary w-100" id="share-btn" type="button" data-bs-toggle="modal"
			data-bs-target="#shareModal">
			<i class="ai-code-curly fs-lg me-2 ms-n1"></i>
			Share
		</button>

		<div class="d-flex align-items-center mb-3 mt-3">
			<i class="ai-paint-roll text-body-secondary fs-4 me-2"></i>
			<h5 class="mb-0">Report</h5>
		</div>
		<form class="form-floating">
			<textarea class="form-control" readonly id="fl-textarea" style="height: 120px;"
				placeholder="Your message"></textarea>
			<label for="fl-textarea">Your message</label>
			<div class="form-text">Your password must be 8-20 characters long, contain letters and numbers, and must not
				contain spaces, special characters, or emoji.</div>
			<button class="btn btn-primary w-100 mt-3 disabled" id="report-btn" type="button">
				<i class="ai-code-curly fs-lg me-2 ms-n1"></i>
				Send report (ID)
			</button>
		</form>
	</div>
</div>
