@using almondCove.Models.Props;

@{
    Layout = "_LayoutEmpty";
    HTMLProps props = new()
            {
                DataBsTheme = "",
            };

    MetaProps meta = new(){};

    ViewData["HtmlProps"] = props;
    ViewData["MetaProps"] = meta;
}
<section class="container pt-5 mt-5">
    Oops nothing at this route!!!
    <a class="btn btn-primary rounded-pill" href="/"><i class="ai ai-home"></i>Home</a>
</section>