@using System.Security.Claims
@using almondcove.Models.Props;

@{
    HTMLProps props = new()
            {
                DataBsTheme = "",
                IsLoaderActive = "",
                BodyClass = "bg-secondary"
            };

    MetaProps meta = new()
            {
                Title = "Contact | Almondcove",
                Description = "Contact me",
                Tags = "contact, almondcove, message me"
            };


    ViewData["HtmlProps"] = props;
    ViewData["MetaProps"] = meta;


    var rdonly = "";
    var username = "";
    var useremail = "";
    if (User.Identity.IsAuthenticated) {
        rdonly = "readonly";
        username = User.FindFirst(ClaimTypes.GivenName)?.Value;
        useremail = User.FindFirst(ClaimTypes.Email)?.Value;
    }

}

<section class="container pt-5 pb-lg-2 pb-xl-4 py-xxl-5 my-5">

    <!-- Breadcrumb-->
    <nav aria-label="breadcrumb">
        <ol class="pt-lg-3 pb-lg-4 pb-2 breadcrumb">
            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Contacts v.2</li>
        </ol>
    </nav>

    <div class="row pb-1 pb-sm-3 pb-lg-4">
        <div class="col-lg-4 pe-xxl-4">

            <!-- Page title -->
            <h1 class="display-2">Contacts</h1>
            <p class="fs-lg pb-4 mb-0 mb-sm-2">Get in touch with us by completing the below form or call us now</p>
        </div>
        <div class="col-lg-8 col-xl-7 offset-xl-1">

            <!-- Contact form -->
            <form class="row g-4 needs-validation" id="contactform" novalidate>
                <div class="col-sm-6">
                    <label class="form-label fs-base" for="name">Name</label>
                    <input class="form-control form-control-lg" value="@username" type="text" placeholder="Your name" required id="name" @rdonly>
                    <div class="invalid-feedback">Please enter your name!</div>
                </div>
                <div class="col-sm-6">
                    <label class="form-label fs-base" for="email">Email</label>
                    <input class="form-control form-control-lg" value="@useremail" type="email" placeholder="Email address" required id="email" @rdonly>
                    <div class="invalid-feedback">Please provide a valid email address!</div>
                </div>
                <div class="col-sm-12">
                    <label class="form-label fs-base" for="location">Topic</label>
                    <select class="form-select form-select-lg" id="topic">
                        <option value="general">General</option>
                        <option value="suggestions">Suggestions</option>
                        <option value="report">Report</option>
                        <option value="contribute">Contribute</option>
                        <option value="North America">North America</option>
                        <option value="South America">South America</option>
                    </select>
                </div>
                <div class="col-sm-12">
                    <label class="form-label fs-base" for="message">How can we help?</label>
                    <textarea class="form-control form-control-lg" rows="5" placeholder="Enter your message here..." required id="message"></textarea>
                    <div class="invalid-feedback">Please enter your message!</div>
                </div>
                <div class="col-sm-12">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="agree">
                        <label class="form-check-label" for="agree">I agree to the <a class="nav-link d-inline fs-normal text-decoration-underline p-0" href="#">Terms &amp; Conditions</a></label>
                    </div>
                </div>
                <div class="col-sm-12 pt-2">
                    <button class="btn btn-lg btn-primary" type="submit">Send a request</button>
                </div>
            </form>
        </div>
    </div>
</section>
