@using almondcove.Models.Props;

@{
    HTMLProps props = new()
            {
                DataBsTheme = "",
                IsLoaderActive = "",
                BodyClass = "bg-secondary"
            };

    MetaProps meta = new()
            {
                Title = "FAQs | Almondcove",
            };


    ViewData["HtmlProps"] = props;
    ViewData["MetaProps"] = meta;

    bool isLoggedin = Context.Session.GetString("role") == "guest" ? false : true;

}

<section class="bg-secondary py-5">
    <h1 class="display-3 text-center mx-auto pt-5 my-2 my-sm-4" style="max-width: 680px;">Frequently asked questions</h1>
    <svg class="d-block mx-auto text-primary" width="511" height="40" viewBox="0 0 511 40" fill="currentColor"
        xmlns="http://www.w3.org/2000/svg">
        <path
            d="M385.252 0.160149C313.41 0.614872 292.869 0.910678 253.008 2.06539C211.7 3.26203 182.137 4.46154 135.231 6.84429C124.358 7.39665 112.714 7.92087 99.0649 8.47247C48.9242 10.4987 39.1671 11.0386 22.9579 12.6833C14.9267 13.4984 7.98117 14.0624 4.08839 14.2162C0.627411 14.3527 0 14.4386 0 14.7762C0 15.0745 5.53537 15.3358 8.56298 15.1804C9.64797 15.1248 12.5875 14.9887 15.0956 14.8782C17.6037 14.7676 23.123 14.4706 27.3608 14.2183C37.3399 13.6238 42.1312 13.4363 59.2817 12.9693C88.1133 12.1844 109.893 11.43 136.647 10.2898C146.506 9.86957 159.597 9.31166 165.737 9.04993C212.308 7.06466 269.195 5.29439 303.956 4.74892C346.139 4.08665 477.094 3.50116 474.882 3.98441C474.006 4.17607 459.021 5.6015 450.037 6.34782C441.786 7.03345 428 8.02235 411.041 9.14508C402.997 9.67773 391.959 10.4149 386.51 10.7832C366.042 12.1673 359.3 12.5966 347.67 13.2569C294.096 16.2987 258.708 18.9493 209.451 23.6091C180.174 26.3788 156.177 29.5584 129.396 34.2165C114.171 36.8648 112.687 37.3352 114.186 39.0402C115.161 40.1495 122.843 40.2933 138.338 39.492C166.655 38.0279 193.265 36.8923 219.043 36.048C235.213 35.5184 237.354 35.4296 253.795 34.6075C259.935 34.3005 270.549 33.8517 277.382 33.6105L289.804 33.1719L273.293 32.999C248.274 32.7369 221.435 32.7528 212.596 33.035C183.334 33.9693 167.417 34.6884 141.419 36.2506C135.222 36.623 129.994 36.8956 129.801 36.8566C127.94 36.4786 169.612 30.768 189.492 28.6769C234.369 23.956 280.582 20.4337 351.602 16.3207C358.088 15.9451 371.108 15.1233 380.535 14.4947C389.962 13.866 404.821 12.8761 413.556 12.2946C447.177 10.057 457.194 9.22358 489.506 5.97543C510.201 3.895 510.311 3.8772 510.875 2.50901C511.496 1.00469 509.838 0.322131 505.088 0.127031C500.576 -0.0584957 416.098 -0.0351424 385.252 0.160149ZM291.144 33.02C291.536 33.0658 292.102 33.0641 292.402 33.0162C292.703 32.9683 292.383 32.9308 291.691 32.9329C290.999 32.935 290.753 32.9743 291.144 33.02Z">
        </path>
    </svg>
    <div class="container py-md-2 py-lg-3 py-xl-5 my-2 my-sm-3 my-md-4 my-xxl-5">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <div class="accordion" id="faq">
                    <div class="accordion-item bg-light">
                        <h3 class="accordion-header" id="headingOne">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#questionOne" aria-expanded="false" aria-controls="questionOne">
                                Didn't receive verification email?</button>
                        </h3>
                        <div class="accordion-collapse collapse" id="questionOne" aria-labelledby="headingOne"
                            data-bs-parent="#faq" style="">
                            <div class="accordion-body fs-sm">
                                Check your spam folder for theemail. If you still didn't find it make use of the forgot password module to login via otp and set your password.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item bg-light">
                        <h3 class="accordion-header" id="headingTwo">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#questionTwo" aria-expanded="false" aria-controls="questionTwo">
                                Forgot password?</button>
                        </h3>
                        <div class="accordion-collapse collapse" id="questionTwo" aria-labelledby="headingTwo" data-bs-parent="#faq">
                            <div class="accordion-body fs-sm">
                                @if(isLoggedin)
                                {
                                    @Html.Raw("As you are already loggedin you can set your password in <a href=\"/profile/edit\">Edit profile</a>");
                                }
                                else
                                {
                                    @Html.Raw("Here we go -> <a href=\"/account/recover-account\">Account recovery</a>");
                                }

                            </div>
                        </div>
                    </div>
                    <div class="accordion-item bg-light">
                        <h3 class="accordion-header" id="headingFour">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#questionFour" aria-expanded="false" aria-controls="questionFour">
                                Something is wrong?
                            </button>
                        </h3>
                        <div class="accordion-collapse collapse" id="questionFour" aria-labelledby="headingFour"
                            data-bs-parent="#faq">
                            <div class="accordion-body fs-sm">
                                Use <a href="#customizer" data-bs-toggle="offcanvas">RightPanel</a> to send message briefing about it.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item bg-light">
                        <h3 class="accordion-header" id="headingFive">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#questionFive" aria-expanded="false" aria-controls="questionFive">Do you
                                have monthly and yearly billing options?</button>
                        </h3>
                        <div class="accordion-collapse collapse" id="questionFive" aria-labelledby="headingFive"
                            data-bs-parent="#faq">
                            <div class="accordion-body fs-sm">Vestibulum faucibus lectus eget augue pharetra, quis
                                semper lectus gravida. Vestibulum pretium in elit sed iaculis. Curabitur elementum
                                turpis at ipsum molestie, id maximus odio tincidunt. Praesent id lacinia orci. Phasellus
                                at varius arcu. Ut nec lobortis velit.</div>
                        </div>
                    </div>
                    <div class="accordion-item bg-light">
                        <h3 class="accordion-header" id="headingSix">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#questionSix" aria-expanded="false" aria-controls="questionSix">What
                                happens when I change plans?</button>
                        </h3>
                        <div class="accordion-collapse collapse" id="questionSix" aria-labelledby="headingSix"
                            data-bs-parent="#faq">
                            <div class="accordion-body fs-sm">Nunc non placerat mi, sit amet hendrerit lacus. Quisque
                                cursus lorem vitae placerat ultrices. Morbi ut orci sit amet quam vulputate lobortis.
                                Donec vulputate mi nec nisi tincidunt commodo. Nullam efficitur tincidunt tellus
                                accumsan pellentesque. Suspendisse elementum blandit orci.</div>
                        </div>
                    </div>
                    <div class="accordion-item bg-light">
                        <h3 class="accordion-header" id="headingSeven">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#questionSeven" aria-expanded="false" aria-controls="questionSeven">How
                                do I cancel my paid plan?</button>
                        </h3>
                        <div class="accordion-collapse collapse" id="questionSeven" aria-labelledby="headingSeven"
                            data-bs-parent="#faq">
                            <div class="accordion-body fs-sm">Morbi a consequat diam. Fusce sit amet faucibus erat.
                                Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos
                                himenaeos. Quisque id est dictum, suscipit neque id, ornare nibh. Cras lacinia, est non
                                ultrices porttitor, arcu orci rhoncus leo, egestas condimentum lorem.</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>