@using almondcove.Models.Props;
  
@{
    HTMLProps props = new()
        {
             DataBsTheme = "",
        };

    MetaProps meta = new()
            {
                Title = "AlmondCove - a digital webspace by Jass",
                Description = "A dynamic webspace for blogs, gallery, apps, web resources and much more",
                Author = "Jasmeet Singh"
                
            };

    ViewData["HtmlProps"] = props;
    ViewData["MetaProps"] = meta;
}

@section Styles{
<link href="~/lib/aos/dist/aos.min.css" rel="stylesheet" />
<link href="~/lib/swiper/swiper-bundle.min.css" rel="stylesheet" />
}

@section Scripts{
        <script src="~/lib/aos/dist/aos.min.js"></script>
        <script src="~/lib/parallax-js/dist/parallax.min.js"></script>
        <script src="~/lib/swiper/swiper-bundle.min.js"></script>
        <script type="module" src="/assets/js/dedicated/home.js"></script>
}

@Html.AntiForgeryToken()

      <section 
        class="bg-primary bg-opacity-10 d-flex min-vh-100 overflow-hidden py-2 bt-rad-1">
        <div class="container d-flex justify-content-center pb-sm-3 py-md-4 py-xl-5">
            <div class="row align-items-center pt-4 mt-4 mt-xxl-0">
                <div class="col-lg-6 mb-4 mb-lg-0 mb-sm-2 pb-3 pb-lg-0">
                    <div class="parallax mx-auto mx-lg-0" style="max-width: 582px;">
                        <div class="parallax-layer" data-depth="-0.25">
                        <svg width="500" height="500" viewBox="200 180 1000 1000" xmlns="http://www.w3.org/2000/svg">
                        <g transform="translate(0.000000,1341.000000) scale(0.100000,-0.100000)" fill="currentColor" stroke="none">
                        <path d="M6599 9843 c-7 -16 -25 -46 -40 -68 -22 -34 -128 -208 -180 -294 -7 -14 -17 -30 -22 -35 -12 -18 -51 -79 -73 -116 -12 -19 -58 -95 -103 -167 -194 -316 -245 -400 -262 -431 -11 -18 -28 -45 -38 -60 -47 -70 -91 -143 -91 -151 0 -5 -3 -11 -8 -13 -4 -1 -27 -37 -52 -78 -25 -41 -48 -76 -52 -78 -5 -2 -8 -8 -8 -12 0 -9 -69 -122 -88 -145 -4 -5 -15 -25 -22 -42 -8 -18 -18 -33 -22 -33 -5 0 -8 -5 -8 -10 0 -9 -66 -116 -80 -130 -3 -3 -11 -15 -18 -27 -6 -13 -18 -33 -25 -45 -6 -13 -14 -25 -17 -28 -14 -14 -230 -371 -230 -380 0 -5 -3 -10 -8 -12 -4 -1 -27 -37 -52 -78 -24 -41 -54 -89 -67 -106 -13 -17 -23 -36 -23 -42 0 -7 -3 -12 -8 -12 -4 0 -18 -21 -32 -47 -13 -27 -27 -50 -30 -53 -3 -3 -11 -16 -19 -30 -8 -14 -31 -52 -51 -85 -20 -33 -50 -85 -67 -115 -16 -30 -43 -77 -60 -105 -16 -27 -36 -65 -44 -82 -7 -18 -17 -33 -21 -33 -5 0 -8 -9 -8 -20 0 -11 -4 -20 -10 -20 -5 0 -10 -9 -10 -20 0 -11 -4 -20 -8 -20 -10 0 -99 -185 -137 -285 -15 -38 -33 -83 -40 -100 -65 -154 -119 -369 -155 -625 -13 -90 -8 -507 7 -630 8 -65 8 -65 27 -30 10 19 41 67 67 107 27 40 49 75 49 78 0 3 5 11 10 18 15 18 54 78 86 133 16 27 36 58 46 68 10 11 18 23 18 27 0 4 29 50 65 102 36 52 65 100 65 106 0 6 4 11 9 11 5 0 14 14 21 30 7 17 16 30 21 30 5 0 9 5 9 10 0 6 23 44 50 85 28 41 50 79 50 85 0 5 5 10 10 10 6 0 10 5 10 10 0 9 127 205 157 245 5 6 28 44 53 85 25 41 48 80 53 85 4 6 28 44 54 85 25 41 70 112 99 157 30 46 54 87 54 93 0 5 4 10 9 10 5 0 13 9 16 20 3 11 12 26 18 33 13 14 12 13 88 137 29 47 63 99 76 116 12 17 23 36 23 42 0 7 5 12 10 12 6 0 10 4 10 9 0 12 63 115 73 119 4 2 7 8 7 13 0 10 29 56 135 219 34 52 81 127 105 165 24 39 66 106 93 150 28 44 73 116 100 160 28 44 65 104 84 132 18 29 33 57 33 62 0 5 4 11 8 13 4 2 29 37 55 78 25 41 50 80 54 86 4 5 14 21 22 35 8 13 36 58 61 99 26 41 62 100 81 130 62 101 75 110 105 75 30 -37 134 -192 134 -200 0 -3 5 -11 10 -18 15 -18 90 -137 90 -143 0 -3 18 -32 40 -64 22 -32 40 -63 40 -69 0 -5 3 -11 8 -13 4 -1 27 -37 52 -78 25 -41 48 -76 52 -78 5 -2 8 -8 8 -14 0 -6 20 -39 45 -74 25 -34 45 -65 45 -69 0 -3 18 -33 40 -65 22 -32 40 -61 40 -65 0 -3 24 -42 54 -88 29 -45 78 -122 109 -172 31 -49 60 -95 64 -101 8 -10 23 -36 47 -79 11 -19 18 -29 44 -59 6 -8 12 -17 12 -20 0 -9 65 -111 73 -114 4 -2 7 -8 7 -12 0 -8 67 -119 87 -145 5 -5 28 -44 53 -85 25 -41 48 -76 52 -78 5 -2 8 -8 8 -13 0 -11 112 -183 123 -187 4 -2 7 -8 7 -13 0 -8 89 -151 110 -176 5 -7 10 -14 10 -17 0 -3 18 -34 40 -68 22 -35 45 -70 50 -78 5 -8 40 -62 78 -120 38 -58 71 -110 73 -116 2 -6 38 -62 80 -125 60 -90 219 -334 279 -429 5 -8 28 -43 50 -78 22 -34 40 -64 40 -67 0 -2 24 -39 53 -82 29 -43 59 -90 67 -105 18 -38 18 -40 35 121 23 216 17 465 -15 636 -5 28 -14 79 -21 115 -15 88 -77 305 -105 370 -25 58 -31 73 -49 120 -37 101 -203 443 -217 448 -4 2 -8 7 -8 12 0 10 -144 261 -180 315 -15 22 -37 56 -48 76 -11 20 -26 47 -34 60 -7 13 -15 26 -18 29 -3 3 -11 16 -19 30 -8 14 -50 83 -93 154 -43 70 -78 130 -78 133 0 2 -5 9 -10 16 -11 13 -154 238 -174 272 -6 11 -13 22 -16 25 -5 5 -23 36 -44 75 -6 11 -32 53 -59 93 -26 40 -47 77 -47 82 0 6 -4 10 -8 10 -4 0 -14 16 -21 35 -7 19 -17 35 -22 35 -5 0 -9 4 -9 10 0 8 -65 116 -87 145 -26 33 -83 126 -83 135 0 5 -4 10 -10 10 -5 0 -10 4 -10 10 0 8 -61 110 -87 146 -5 5 -14 21 -21 33 -8 13 -22 38 -32 55 -42 73 -164 273 -184 301 -20 29 -68 106 -106 170 -10 17 -55 91 -100 165 -46 74 -88 145 -94 157 -6 13 -14 23 -18 23 -5 0 -8 5 -8 10 0 10 -34 65 -109 180 -20 30 -43 67 -50 83 -10 19 -22 27 -41 27 -19 0 -31 -8 -41 -27z" />
                        <path d="M6405 6685 c-151 -20 -318 -57 -339 -76 -6 -5 -20 -9 -32 -9 -13 0 -26 -4 -29 -10 -3 -5 -13 -10 -20 -10 -45 0 -311 -140 -367 -192 -7 -7 -31 -26 -53 -43 -79 -58 -235 -223 -273 -287 -9 -16 -20 -28 -24 -28 -4 0 -8 -5 -8 -10 0 -6 -29 -54 -63 -108 -35 -53 -88 -135 -118 -182 -29 -47 -56 -87 -60 -90 -3 -3 -12 -16 -19 -29 -7 -14 -17 -30 -22 -35 -5 -6 -35 -54 -68 -106 -33 -52 -65 -102 -70 -110 -29 -44 -70 -111 -70 -116 0 -3 -5 -10 -10 -17 -6 -7 -36 -52 -68 -102 -31 -49 -60 -94 -65 -100 -21 -28 -87 -137 -87 -145 0 -6 -4 -10 -9 -10 -5 0 -14 -13 -21 -30 -7 -16 -16 -30 -21 -30 -5 0 -9 -5 -9 -11 0 -6 -13 -29 -29 -52 -16 -23 -38 -58 -49 -78 -41 -73 -47 -83 -59 -97 -7 -7 -13 -17 -13 -22 0 -5 -6 -15 -13 -22 -7 -7 -32 -45 -56 -85 -23 -40 -49 -77 -57 -84 -8 -6 -14 -15 -14 -20 0 -5 -29 -53 -64 -107 -34 -53 -82 -128 -106 -167 -24 -38 -58 -94 -77 -123 -19 -30 -33 -55 -31 -55 27 -14 700 7 705 21 4 9 9 19 12 22 9 8 101 149 101 155 0 3 20 36 43 73 102 157 117 182 117 191 0 5 3 11 8 13 4 2 27 37 52 78 25 41 48 80 53 85 4 6 22 33 39 60 17 28 46 74 64 102 19 29 34 55 34 58 0 4 18 33 40 65 22 32 40 62 40 65 0 3 5 11 10 18 14 17 97 147 150 237 25 41 48 77 52 78 5 2 8 8 8 13 0 12 52 93 63 97 4 2 7 8 7 13 0 78 391 519 460 519 6 0 10 4 10 9 0 11 158 83 255 116 268 90 576 86 839 -11 39 -14 80 -29 91 -32 116 -33 355 -224 453 -362 26 -36 52 -71 59 -78 6 -6 15 -21 18 -32 3 -11 11 -20 16 -20 5 0 9 -4 9 -10 0 -8 68 -121 88 -145 4 -5 15 -25 22 -42 8 -18 18 -33 21 -33 4 0 12 -13 19 -30 7 -16 15 -30 19 -30 3 0 17 -23 30 -50 14 -28 29 -50 33 -50 4 0 8 -5 8 -11 0 -6 16 -33 35 -59 19 -26 35 -51 35 -54 0 -4 5 -12 10 -19 14 -16 110 -167 110 -172 0 -4 63 -108 70 -115 3 -3 11 -15 18 -27 6 -13 18 -33 25 -45 6 -13 14 -25 17 -28 3 -3 26 -39 50 -80 25 -41 49 -80 55 -87 5 -7 16 -19 23 -27 6 -8 12 -17 12 -20 0 -6 74 -125 88 -141 5 -6 11 -15 13 -21 8 -20 124 -210 135 -221 7 -7 14 -17 16 -22 2 -5 147 -11 350 -13 347 -3 347 -3 320 47 -15 28 -30 52 -34 53 -5 2 -8 8 -8 13 0 8 -38 71 -62 104 -19 25 -145 223 -157 248 -8 15 -18 27 -23 27 -4 0 -8 5 -8 11 0 5 -18 37 -40 69 -22 32 -40 63 -40 69 0 5 -3 11 -7 13 -5 2 -26 32 -47 68 -39 64 -149 236 -164 255 -4 6 -27 44 -52 85 -25 41 -48 80 -53 85 -4 6 -31 48 -61 95 -29 47 -75 120 -102 162 -27 43 -54 86 -59 95 -6 10 -34 53 -63 95 -28 42 -52 82 -52 88 0 5 -4 10 -8 10 -5 0 -14 11 -20 25 -7 14 -17 31 -22 38 -15 17 -90 137 -90 143 0 3 -4 10 -10 17 -5 7 -51 76 -103 153 -98 147 -129 186 -237 294 -96 96 -175 159 -265 211 -56 32 -83 46 -197 98 -249 114 -640 166 -953 126z" />
                        <path d="M5241 4453 c-209 -314 -208 -297 -41 -422 19 -14 37 -28 40 -31 3 -4 41 -29 85 -58 44 -29 85 -56 92 -62 6 -5 33 -19 60 -31 26 -13 50 -25 53 -29 9 -10 225 -110 237 -110 5 0 28 -9 51 -20 22 -11 46 -20 52 -20 6 0 46 -12 88 -26 88 -30 122 -39 297 -74 167 -33 535 -46 650 -23 33 7 101 20 150 28 122 21 333 81 418 119 17 7 59 24 92 37 100 38 393 199 415 228 3 3 17 13 31 21 44 25 90 62 157 126 64 62 64 62 -73 265 -76 112 -163 242 -194 288 -55 83 -55 83 -86 45 -60 -76 -156 -165 -233 -217 -26 -17 -49 -33 -52 -37 -3 -3 -27 -19 -55 -35 -120 -72 -270 -131 -415 -164 -30 -7 -71 -17 -90 -21 -136 -32 -403 -39 -560 -15 -231 36 -318 62 -518 153 -41 19 -134 73 -142 82 -3 3 -21 17 -40 30 -55 39 -169 136 -182 155 -81 124 -82 123 -287 -182z" />
                        </g>
                        </svg>
                        </div> 
                        <div class="parallax-layer zindex-2" data-depth="-0.45">
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="500" zoomAndPan="magnify" viewBox="0 0 375 374.999991" height="500" preserveAspectRatio="xMidYMid meet" version="1.0">
                                <path fill="currentColor" d="M 344.105469 158.492188 C 344.574219 161.03125 344.984375 163.578125 345.328125 166.136719 C 345.675781 168.691406 345.960938 171.257812 346.179688 173.828125 C 346.402344 176.398438 346.5625 178.972656 346.660156 181.550781 C 346.753906 184.132812 346.789062 186.710938 346.761719 189.289062 C 346.730469 191.871094 346.640625 194.449219 346.488281 197.027344 C 346.332031 199.601562 346.117188 202.171875 345.835938 204.738281 C 345.558594 207.304688 345.214844 209.859375 344.8125 212.410156 C 344.410156 214.957031 343.945312 217.496094 343.417969 220.023438 C 342.890625 222.546875 342.304688 225.058594 341.65625 227.558594 C 341.003906 230.054688 340.296875 232.535156 339.527344 235 C 338.757812 237.460938 337.929688 239.90625 337.039062 242.328125 C 336.152344 244.753906 335.207031 247.152344 334.203125 249.527344 C 333.195312 251.90625 332.132812 254.257812 331.015625 256.582031 C 329.894531 258.910156 328.722656 261.207031 327.492188 263.472656 C 326.257812 265.742188 324.972656 267.980469 323.636719 270.183594 C 322.296875 272.390625 320.902344 274.5625 319.457031 276.703125 C 318.011719 278.839844 316.515625 280.941406 314.96875 283.007812 C 313.421875 285.074219 311.824219 287.101562 310.179688 289.085938 C 308.535156 291.074219 306.839844 293.023438 305.101562 294.929688 C 303.359375 296.835938 301.574219 298.695312 299.742188 300.515625 C 297.914062 302.335938 296.039062 304.109375 294.121094 305.835938 C 292.203125 307.566406 290.246094 309.246094 288.246094 310.878906 C 286.25 312.511719 284.210938 314.09375 282.136719 315.628906 C 280.058594 317.164062 277.949219 318.644531 275.800781 320.078125 C 273.652344 321.507812 271.46875 322.886719 269.253906 324.210938 C 267.039062 325.539062 264.792969 326.808594 262.519531 328.023438 C 260.242188 329.242188 257.9375 330.402344 255.605469 331.507812 C 253.269531 332.609375 250.910156 333.65625 248.527344 334.648438 C 246.144531 335.636719 243.738281 336.570312 241.308594 337.441406 C 238.878906 338.316406 236.429688 339.128906 233.960938 339.882812 C 231.492188 340.636719 229.007812 341.328125 226.503906 341.960938 C 224 342.597656 221.484375 343.167969 218.953125 343.679688 C 218.019531 343.871094 217.070312 344.050781 216.097656 344.226562 L 215.40625 341.742188 C 216.417969 341.558594 217.433594 341.367188 218.449219 341.160156 C 220.957031 340.652344 223.449219 340.085938 225.929688 339.457031 C 228.410156 338.832031 230.875 338.144531 233.320312 337.394531 C 235.769531 336.644531 238.195312 335.835938 240.601562 334.96875 C 243.007812 334.101562 245.394531 333.175781 247.753906 332.195312 C 250.117188 331.210938 252.453125 330.167969 254.761719 329.070312 C 257.074219 327.972656 259.355469 326.816406 261.609375 325.609375 C 263.863281 324.398438 266.085938 323.132812 268.28125 321.8125 C 270.472656 320.496094 272.628906 319.125 274.753906 317.699219 C 276.878906 316.273438 278.96875 314.796875 281.019531 313.273438 C 283.074219 311.746094 285.089844 310.167969 287.0625 308.542969 C 289.039062 306.917969 290.972656 305.246094 292.867188 303.527344 C 294.761719 301.804688 296.609375 300.039062 298.417969 298.230469 C 300.226562 296.417969 301.988281 294.566406 303.703125 292.667969 C 305.417969 290.769531 307.089844 288.832031 308.710938 286.855469 C 310.332031 284.875 311.902344 282.859375 313.425781 280.804688 C 314.949219 278.75 316.417969 276.65625 317.839844 274.53125 C 319.257812 272.402344 320.625 270.242188 321.941406 268.046875 C 323.253906 265.851562 324.515625 263.625 325.71875 261.371094 C 326.925781 259.113281 328.074219 256.832031 329.167969 254.519531 C 330.261719 252.207031 331.296875 249.867188 332.277344 247.503906 C 333.253906 245.140625 334.175781 242.753906 335.035156 240.347656 C 335.898438 237.941406 336.703125 235.511719 337.445312 233.0625 C 338.1875 230.617188 338.871094 228.152344 339.492188 225.671875 C 340.113281 223.191406 340.675781 220.695312 341.175781 218.1875 C 341.675781 215.679688 342.113281 213.160156 342.492188 210.632812 C 342.867188 208.101562 343.183594 205.5625 343.4375 203.019531 C 343.6875 200.472656 343.878906 197.921875 344.003906 195.367188 C 344.132812 192.8125 344.199219 190.257812 344.199219 187.699219 C 344.203125 185.144531 344.144531 182.585938 344.019531 180.03125 C 343.898438 177.476562 343.710938 174.925781 343.464844 172.382812 C 343.214844 169.835938 342.90625 167.296875 342.535156 164.765625 C 342.164062 162.234375 341.730469 159.714844 341.234375 157.207031 C 342.179688 157.652344 343.128906 158.085938 344.097656 158.492188 Z M 158.890625 33.4375 C 158.058594 33.589844 157.234375 33.746094 156.402344 33.917969 C 153.886719 34.421875 151.386719 34.992188 148.898438 35.621094 C 146.414062 36.253906 143.945312 36.941406 141.492188 37.695312 C 139.039062 38.445312 136.605469 39.257812 134.195312 40.125 C 131.78125 40.996094 129.390625 41.925781 127.023438 42.914062 C 124.65625 43.902344 122.316406 44.945312 120 46.050781 C 117.683594 47.152344 115.398438 48.3125 113.136719 49.527344 C 110.878906 50.742188 108.652344 52.011719 106.457031 53.335938 C 104.257812 54.660156 102.097656 56.035156 99.96875 57.464844 C 97.839844 58.898438 95.746094 60.378906 93.691406 61.910156 C 91.632812 63.445312 89.617188 65.027344 87.636719 66.660156 C 85.660156 68.289062 83.722656 69.96875 81.828125 71.695312 C 79.929688 73.425781 78.078125 75.195312 76.269531 77.015625 C 74.460938 78.832031 72.699219 80.691406 70.980469 82.597656 C 69.261719 84.503906 67.59375 86.449219 65.972656 88.433594 C 64.347656 90.421875 62.777344 92.445312 61.253906 94.507812 C 59.730469 96.570312 58.261719 98.671875 56.839844 100.808594 C 55.421875 102.941406 54.054688 105.113281 52.742188 107.316406 C 51.429688 109.515625 50.171875 111.75 48.96875 114.015625 C 47.765625 116.28125 46.617188 118.570312 45.527344 120.894531 C 44.4375 123.214844 43.402344 125.558594 42.425781 127.929688 C 41.453125 130.300781 40.535156 132.695312 39.675781 135.113281 C 38.820312 137.527344 38.019531 139.964844 37.28125 142.421875 C 36.542969 144.875 35.867188 147.347656 35.25 149.835938 C 34.632812 152.324219 34.078125 154.828125 33.582031 157.34375 C 33.089844 159.859375 32.65625 162.386719 32.285156 164.925781 C 31.914062 167.460938 31.609375 170.007812 31.363281 172.558594 C 31.117188 175.113281 30.933594 177.667969 30.816406 180.230469 C 30.695312 182.792969 30.640625 185.355469 30.644531 187.917969 C 30.652344 190.480469 30.722656 193.042969 30.851562 195.605469 C 30.984375 198.167969 31.179688 200.722656 31.4375 203.273438 C 31.695312 205.824219 32.015625 208.367188 32.398438 210.902344 C 32.78125 213.4375 33.222656 215.964844 33.730469 218.476562 C 32.785156 218.015625 31.832031 217.570312 30.863281 217.148438 C 30.382812 214.609375 29.960938 212.058594 29.605469 209.496094 C 29.25 206.933594 28.957031 204.363281 28.726562 201.789062 C 28.496094 199.210938 28.328125 196.632812 28.222656 194.046875 C 28.117188 191.460938 28.074219 188.878906 28.09375 186.289062 C 28.113281 183.703125 28.199219 181.121094 28.34375 178.539062 C 28.492188 175.953125 28.699219 173.378906 28.972656 170.804688 C 29.246094 168.234375 29.578125 165.667969 29.976562 163.113281 C 30.375 160.558594 30.832031 158.011719 31.351562 155.480469 C 31.875 152.945312 32.457031 150.425781 33.101562 147.921875 C 33.742188 145.417969 34.449219 142.929688 35.214844 140.457031 C 35.976562 137.988281 36.804688 135.535156 37.6875 133.105469 C 38.570312 130.675781 39.515625 128.265625 40.515625 125.882812 C 41.519531 123.496094 42.578125 121.136719 43.695312 118.804688 C 44.808594 116.472656 45.984375 114.167969 47.210938 111.890625 C 48.441406 109.613281 49.722656 107.371094 51.0625 105.15625 C 52.402344 102.941406 53.792969 100.761719 55.238281 98.617188 C 56.679688 96.46875 58.175781 94.359375 59.722656 92.289062 C 61.269531 90.214844 62.867188 88.179688 64.515625 86.183594 C 66.160156 84.191406 67.855469 82.234375 69.597656 80.324219 C 71.335938 78.410156 73.125 76.539062 74.957031 74.714844 C 76.789062 72.890625 78.664062 71.109375 80.585938 69.375 C 82.503906 67.640625 84.464844 65.953125 86.464844 64.3125 C 88.46875 62.675781 90.507812 61.085938 92.585938 59.546875 C 94.667969 58.007812 96.78125 56.519531 98.933594 55.082031 C 101.085938 53.644531 103.269531 52.261719 105.488281 50.929688 C 107.707031 49.601562 109.957031 48.324219 112.238281 47.105469 C 114.519531 45.882812 116.828125 44.71875 119.167969 43.609375 C 121.503906 42.5 123.867188 41.449219 126.257812 40.457031 C 128.644531 39.464844 131.058594 38.53125 133.492188 37.652344 C 135.925781 36.777344 138.378906 35.960938 140.855469 35.203125 C 143.328125 34.449219 145.820312 33.753906 148.328125 33.117188 C 150.835938 32.484375 153.359375 31.910156 155.894531 31.394531 C 156.660156 31.242188 157.429688 31.097656 158.191406 30.953125 Z M 158.890625 33.4375 " fill-opacity="1" fill-rule="evenodd" />
                            </svg>
                        </div> 
                    </div>
                </div>
                <div class="col-lg-6 pb-5 mb-5 text-center text-lg-start">
                    <h1 class="display-2"><span class='fw-normal'>AlmondCove</span></h1>
                    <div class="col-12 pb-3">
                        <p class="mb-3 mx-3">
                            I don't feel particularly proud of myself. But when I walk alone in the woods or lie in the meadows, all is well.
                            <small>- Franz Kafka</small>
                        </p>
                    </div>
                    <div class="d-sm-flex justify-content-center justify-content-lg-start mt-lg-2">
                        <a class="btn btn-lg btn-primary w-100 w-sm-auto mb-2 mb-sm-0 me-sm-1" target="_blank" href="https://jsm33t.in">jsm33t.in&nbsp;<i class="ai-external-link ai"></i></a>
                        <a class="btn btn-lg btn-link" href="/blogs">Explore blogs<i class="ai-arrow-right ms-2"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
     <section class="container py-5 my-md-3 my-lg-2 my-xl-4 my-xxl-5">
        <div class="d-md-flex align-items-center pb-3 mb-md-3 mb-lg-4 mt-2 mt-sm-3 pt-2 pt-sm-4 pt-lg-5">
            <h2 class="h1 text-center text-md-start mb-4 mb-md-0 me-md-4">Latest Posts</h2>
        </div>
        <!-- Swiper-->
        <div class="swiper" data-swiper-options="
          {
            &quot;spaceBetween&quot;: 24,
            &quot;pagination&quot;: {
              &quot;el&quot;: &quot;.swiper-pagination&quot;,
              &quot;clickable&quot;: true
            },
            &quot;breakpoints&quot;: {
              &quot;576&quot;: { &quot;slidesPerView&quot;: 2 },
              &quot;992&quot;: { &quot;slidesPerView&quot;: 3 }
            }
          }
        ">
            <div class="swiper-wrapper" id="articlePlaceholder">
                
            </div>
            <!-- Pagination (bullets)-->
            <div class="swiper-pagination position-relative bottom-0 mt-2 pt-4 d-lg-none"></div>
        </div>
        <!-- Read more button-->
        <div class="text-center pt-4 my-2 mt-lg-0 pt-lg-5 pb-sm-2 pb-md-4"><a class="btn btn-outline-primary rounded-pill" href="/blogs">Browse blogs</a></div>
</section>
    <section class="container mb-2 pt-5 mb-md-3 mb-xl-4 pb-2" data-bs-theme="dark">
      <div class="position-relative bg-dark rounded-5 overflow-hidden p-md-5 p-4">
        <div class="position-absolute top-0 start-0 w-100 h-100" style="background-color: rgba(255, 255, 255, .03);"></div>
        <div class="position-relative p-xl-5 p-md-4 py-4 px-sm-3">
          <h2 class="h1 pb-md-4 pb-3 text-center mt-n2">Join our Newsletter!</h2>
              <p class="text-body text-center fs-sm mb-4">Subscribe to our mailing list to stay updated about new content!!</p>
          <div class="row gy-md-5 gy-4 gx-xl-5">
            <div class="col-lg-6 offset-lg-3 text-center">
              
                <form class="subscription-form">
                    <div class="input-group input-group-md rounded-pill">
                      <input class="form-control" type="text" placeholder="Email address"id="subscr-email">
                      <button class="btn btn-primary btn-md rounded-pill" id="submitMail" type="submit">Subscribe</button>
                    </div>
                </form>
              
              <div class="form-text mt-3 fs-sm">* Trust me, no spams</div>
            </div>
          </div>
        </div>
      </div>
    </section>
     