@font-face {
    font-family: 'Poppins';
    src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLFj_Z11lFc-K.woff2);
    font-weight: 300
}

@font-face {
    font-family: 'Poppins';
    src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLFj_Z1xlFQ.woff2);
    font-weight: 200
}

@font-face {
    font-family: 'Poppins';
    font-weight: 300;
    src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLDz8Z1xlFQ.woff2);
}