@using almondcove.Models.Props;
  
@{
    HTMLProps props = new()
        {
             DataBsTheme = "",
             HeaderClass = "navbar navbar-expand-lg fixed-top bg-light"
        };

    MetaProps meta = new()
            {
                Title = "Home",
            };

    ViewData["HtmlProps"] = props;
    ViewData["MetaProps"] = meta;

}

@section Scripts
{
    
}
@section Styles{

}

         <section class="pt-5 mt-5">
             tcr bootleg compilation page
         </section>