@using almondCove.Models.Props;

@{
    HTMLProps props = new()
            {
                DataBsTheme = "",
                HeaderClass = "navbar navbar-expand-lg fixed-top",
                IsLoaderActive = ""

            };

    MetaProps meta = new()
            {
                Title = "Gallery",
            };

    ViewData["HtmlProps"] = props;
    ViewData["MetaProps"] = meta;
}

@section Styles{
    <link rel="stylesheet" media="screen" href="/assets/vendor/aos/dist/aos.css">

}

@section Scripts{
    <script src="/assets/vendor/aos/dist/aos.js"></script>
    <script src="/assets/vendor/parallax-js/dist/parallax.min.js"></script>
    <script type="module" src="/assets/js/dedicated/gallery.js"></script>
}


<section class="container pt-5 mt-5">
    this is a gallery page
</section>